.App {
  min-height: 100vh;
  /* background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%); */
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

.search-form{
  min-height: 10vh;
  /* display:flex;   */
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  align-items: center;
}
.header
{
  margin-top: 0px;
  display:flex;  
  justify-content: center;
  align-items: center;
}

.search-button{
  background:#dad4ee 50%;
  padding:10px 20px;
  color: white;

}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
